@{
    ViewBag.Title = "Lê Trần Khánh Duy";
}
<main aria-labelledby="title">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Lê Trần Khánh Duy_K22CNT3_Bài Lấy Điểm giữa kì ASPNet MVC 5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:khanhduy@gmail.com">khanhduy@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:anhthu@gmail.com">anhthu@gmail.com</a>
    </address>
    <main/>